@using EBookApp.ViewModel
@model LoginVM
<div class="row mb-3">
    <div class="col-md-8 offset-md-2">
<h3>Login</h3>
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>
<form asp-action="Login" method="Post">
  
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
        <label class="form-check-label" asp-for="RememberMe"></label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="mt-3 d-flex justify-content-between">
            <a asp-controller="Account" asp-action="ForgotPassword" class="text-muted">
            Forgot your password?
    </a>
    <a asp-controller="Account" asp-action="Register">
        Don't have an account? Register
</a>
</div>
</form>
</div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}